.mainfood{
    margin-top: -5px;
}

.center{
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%); 
}



.food-content-bruh button{
    border: 1px solid red;
    padding: 10px 20px;
    color:red;
    border-radius: 30px;
}

.food-content-bruh button:hover{
    border: 1px solid red;
    padding: 10px 20px;
    color:white;
    background-color: red;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}

