.fooddetails-content{

}

.food-item-include {
    left: 0;
    bottom: -80px;
    width: 45%;
    background: url(/assets/img/include.png);
    background-repeat: no-repeat;
    object-fit: cover;
}

.food-item-include h2{
    text-align: center;
    margin-right: 60px;
    line-height: auto;
}



.foodImg-responsive{
    width: 45%;
    height: auto;
}

.fooddetails-banner div button{
    padding: 20px 50px;
    border: 1px solid wheat;
    border-radius: 30px;
    font-size: 16px;
    
}