:root {
    --primary-color: #bd0017; /* Storing a blue color */
    --secondary-color:#ffc836;
    --all-white:#fff;
    --thirdly-color:#f1072a;
    --mc-color:#3d3d3d;
    --blue:#33CCFF
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 40px solid var(--primary-color);
  }


.radius{
    border-radius: 5px;
}

.radius-pro{
    border-radius: 20px;
}

.bor-l{
    border-left: 1px solid black;
}

.bor-r{
    border-right: 1px solid black;
}

.border-none{
    border: none;
}

.line{
    width: 100%;
    height: 1px;
    background: #191919;
    opacity: 0.2;
}

.container{
    width: 76%;
}

.grid{
    display: grid;
}

.grid-1vs4{
    grid-template-columns: repeat(4, 1fr);
}

.grid-1vs2{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Tạo 2 cột với kích thước bằng nhau */
    
}


.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.over-hidden{
    overflow: hidden;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;

}

.no-display{
    display: none;
}

.p{
    padding: 0px;
}

.p-10{
    padding: 10px;
}


.p-20{
    padding: 20px;
}

.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}

.pt-35{
    padding-top: 35px;
}

.pb{
    padding-bottom: 5px;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-35{
    padding-bottom: 35px;
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.gap-5{
    gap: 5px;
}


.gap-10{
    gap: 10px;
}

.gap-25{
    gap: 25px   ;
}

.gap-15{
    gap: 15px;
}

.gap-20{
    gap: 20px;
}

.gap-30{
    gap: 30px;
}

.gap-50{
    gap: 50px;
}

.gap-70{
    gap: 70px;
}

.gap-100{
    gap: 100px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.flex-col{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.bg-black{
    background-color: #191919;
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-dark-gray{
    background-color: rgba(25, 25, 25, .8);
}

.bg-white{
    background-color: var(--all-white);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-thirdly{
    background-color: var(--thirdly-color);
}

.bg-mc{
    background-color: var(--mc-color);
}

.bg-transparent{
    background: tra;
}

.menu-text{
    font-size: 18px;
}

.text-blue{
    color: var(--blue);
}

.text-white{
    color: white;
}

.text-primary{
    color: var(--primary-color);
}

.text-center{
    text-align: center;
}

.rounded{
    border-radius: 999px;
    padding-left: 10px;
    padding-right: 10px;
}

.line-h-0{
    line-height: 0;
}

.font-light{
    font-weight: lighter;
}

.font-bold{
    font-weight: bold;
}

.text-secondary{
    color: var(--secondary-color);
}

.uppercase{
    text-transform: uppercase;
}

.decoration-none{
    text-decoration: none;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-default{
    cursor: default;
}

.ml-10{
    margin-left: 10px;
}

.margin-auto{
    margin: auto;
}

.w-full{
    width: 100%;
}

.w-1phan2{
    width: 50%;

}
.w-5phan12{
    width: 44%;
}
.w-3phan12{
    width: 25%;
}

.w-8phan12{
    width: 66%;
}

.w-70per{
    width: 70%;
}

.w-80per{
    width: 80%;
}

.w-20per{
    width: 20%;

}
.w-60per{
    width: 60%;

}
.h-150px{
    height: 150px;
}

.h-200px{
    height: 200px;
}

.h-80per{
    height: 80%;
}

.h-full{
    height: 100%;
}

.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}

.mt-30{
    margin-top: 30px;
}

.mt-35{
    margin-top: 35px;
}

.mt-55{
    margin-top: 55px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-35{
    margin-bottom: 35px;
}

.box-shadow-1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}